.navigateLinks {
  color: black;
  text-transform: none;
  text-decoration: none;
}

.container {
  margin-top: 10px !important;
}

img{
    height: 50px;
    width: 50px;
}

.pageBtn{
  margin: 5px
}